<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Channel 31 Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dbe56f">  <td>15/11/25 15:48:10</td>   <td>0</td> <td title="&gt;&gt;TestBase.beforeSuite(org.testng.ITestContext)[pri:0, instance:com.ttnd.testScripts.NavigationalTest@5ebec15]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@884457408</td>   <td></td> </tr>
<tr bgcolor="dbe56f">  <td>15/11/25 15:48:14</td>   <td>3425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.reflect.Method)[pri:0, instance:com.ttnd.testScripts.NavigationalTest@5ebec15]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@884457408</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>15/11/25 15:48:27</td>   <td>16427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationalTest.Test_01()[pri:0, instance:com.ttnd.testScripts.NavigationalTest@5ebec15]">Test_01</td> 
  <td>main@884457408</td>   <td></td> </tr>
<tr bgcolor="dbe56f">  <td>15/11/25 15:48:42</td>   <td>31463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.ttnd.testScripts.NavigationalTest@5ebec15]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@884457408</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>15/11/25 15:48:42</td>   <td>31525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationalTest.Test_02()[pri:0, instance:com.ttnd.testScripts.NavigationalTest@5ebec15]">Test_02</td> 
  <td>main@884457408</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>15/11/25 15:48:42</td>   <td>31525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationalTest.Test_03()[pri:0, instance:com.ttnd.testScripts.NavigationalTest@5ebec15]">Test_03</td> 
  <td>main@884457408</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>15/11/25 15:48:42</td>   <td>31525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZTest.Test_04()[pri:0, instance:com.ttnd.testScripts.ZTest@21bcffb5]">Test_04</td> 
  <td>main@884457408</td>   <td></td> </tr>
</table>
