<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>American Swan Smoke Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:54:06</td>   <td>0</td> <td title="&gt;&gt;TestBase.beforeSuite()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@884457408</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:54:06</td>   <td>28</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeTest(java.lang.String)[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@572429087</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:54:06</td>   <td>36</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeTest(java.lang.String)[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:54:18</td>   <td>12921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>15/12/01 17:54:18</td>   <td>12925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShoppingTest.Test_01()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">Test_01</td> 
  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:54:52</td>   <td>46818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:54:52</td>   <td>46878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>15/12/01 17:54:52</td>   <td>46878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShoppingTest.Test_02()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">Test_02</td> 
  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:54:53</td>   <td>47638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@572429087</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>15/12/01 17:54:53</td>   <td>47638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShoppingTest.Test_01()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">Test_01</td> 
  <td>TestNG@572429087</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:55:15</td>   <td>69141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:55:15</td>   <td>69161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>15/12/01 17:55:15</td>   <td>69162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShoppingTest.Test_03()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">Test_03</td> 
  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:55:30</td>   <td>84553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:55:30</td>   <td>84568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>15/12/01 17:55:30</td>   <td>84569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShoppingTest.Test_04()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">Test_04</td> 
  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:55:33</td>   <td>87046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@572429087</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:55:33</td>   <td>87067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@572429087</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>15/12/01 17:55:33</td>   <td>87068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShoppingTest.Test_02()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">Test_02</td> 
  <td>TestNG@572429087</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:55:40</td>   <td>94663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:55:40</td>   <td>94687</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.afterTest()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@21bcffb5]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2117470670</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:55:57</td>   <td>111584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@572429087</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:55:57</td>   <td>111591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@572429087</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>15/12/01 17:55:57</td>   <td>111594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShoppingTest.Test_03()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">Test_03</td> 
  <td>TestNG@572429087</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:56:17</td>   <td>131253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@572429087</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:56:17</td>   <td>131273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@572429087</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>15/12/01 17:56:17</td>   <td>131274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShoppingTest.Test_04()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">Test_04</td> 
  <td>TestNG@572429087</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:56:27</td>   <td>141498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@572429087</td>   <td></td> </tr>
<tr bgcolor="c8e676">  <td>15/12/01 17:56:27</td>   <td>141514</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.afterTest()[pri:0, instance:com.ttnd.testScripts.ShoppingTest@62043840]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@572429087</td>   <td></td> </tr>
</table>
