<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>prod.desktop.smoke.loggedIn</td><td>UserTests.LoginTest()[pri:0, instance:com.ttnd.testScripts.UserTests@6bf256fa]<br/></td></tr>
</table>
