<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee9593">  <td>15/12/18 14:39:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserTests.LoginTest()[pri:0, instance:com.ttnd.testScripts.UserTests@783e6358]">LoginTest</td> 
  <td>TestNG@550480335</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>15/12/18 14:39:55</td>   <td>4171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserTests.LoginTest()[pri:0, instance:com.ttnd.testScripts.UserTests@22f71333]">LoginTest</td> 
  <td>TestNG@216061092</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>15/12/18 14:40:18</td>   <td>26454</td> <td title="&lt;&lt;TestBase.afterSuite()[pri:0, instance:com.ttnd.testScripts.UserTests@783e6358]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>15/12/18 14:39:55</td>   <td>4251</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.afterTest()[pri:0, instance:com.ttnd.testScripts.UserTests@22f71333]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@216061092</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>15/12/18 14:40:16</td>   <td>25129</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.afterTest()[pri:0, instance:com.ttnd.testScripts.UserTests@783e6358]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@550480335</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>15/12/18 14:39:47</td>   <td>-3641</td> <td title="&gt;&gt;TestBase.beforeSuite()[pri:0, instance:com.ttnd.testScripts.UserTests@783e6358]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>15/12/18 14:39:48</td>   <td>-3608</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeTest(java.lang.String)[pri:0, instance:com.ttnd.testScripts.UserTests@22f71333]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@216061092</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>15/12/18 14:39:48</td>   <td>-3561</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeTest(java.lang.String)[pri:0, instance:com.ttnd.testScripts.UserTests@783e6358]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@550480335</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>15/12/18 14:39:51</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.ttnd.testScripts.UserTests@783e6358]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@550480335</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>15/12/18 14:39:55</td>   <td>4171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.ttnd.testScripts.UserTests@22f71333]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@216061092</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>15/12/18 14:39:55</td>   <td>4176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.ttnd.testScripts.UserTests@22f71333]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@216061092</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>15/12/18 14:40:16</td>   <td>25086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.ttnd.testScripts.UserTests@783e6358]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@550480335</td>   <td></td> </tr>
</table>
